*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    transition: 2s all ease;
} 
body.dark{
    background-color: gray;
}
section{
    width: 100%;
    height: auto; 
    transition: 3s all ease;  
}
